@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/admin-layout.css" />

<div class="notebook-horizontal">
    <aside class="admin-sidemenu-wapper">
        <div class="admin-sidemenu">
            <h1 class="admin-title">Administry</h1>
            <div class="sidemenu-divider-line"></div>
            <nav class="admin-sidemenu-nav">
                <ul>
                    <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
                    <li><a asp-area="Admin" asp-controller="SubscriptionPlan" asp-action="Index">Subscription Plans</a></li>
                    <li><a asp-area="Admin" asp-controller="UserSubscription" asp-action="Index">User Subscriptions</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="resizer" id="dragMe"></div>
    <div class="main-container-wrapper">
        <div class="main-container">
            <main class="admin-content-wrapper">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-resizer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
}