@{
    Layout = "~/Views/Shared/_SingleAreaLayout.cshtml";
}
<h1>What is Pascaline Analytics?</h1>
<div>
    It is a course project of Yurii Pryimak.<br>
    This service will become a powerfull tool in data analysis very soon!
</div>