<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PascalineAnalytics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PascalineAnalytics.styles.css" asp-append-version="true" />
</head>

<body>

    <header>
        <nav class="main-nav">
            <a asp-controller="Home" asp-action="Index">Головна</a>
            <a asp-controller="Home" asp-action="About">Про нас</a>
            <a asp-controller="Home" asp-action="Contact">Зворотній зв'язок</a>
            <a asp-controller="Subscriptions" asp-action="Index">Підписки</a>

            @{
                // Тут має бути логіка перевірки, чи користувач увійшов.
                // Для початку припустимо, що ми знаємо статус.
                bool isLoggedIn = true; // <<< Тимчасова заглушка!
            }

            @if (isLoggedIn)
            {
                <a asp-area="" asp-controller="Account" asp-action="Profile">Профіль користувача</a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
            }

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
